[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=SDRReceiver
Comment=
Exec=SDRReceiver -s /srv/aero.ini
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false